<!DOCTYPE html>
<html
  id="kite-lite"
  lang="en"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Dosis:300' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/resources/build/index.css">
  </head>

  <body>
    <div class="row">
      <div class="small-12 column">
        <div class="hide-for-small-only"><br><br></div>
        <br>
        <br>
        <div class="clearfix">
          <table class="width-full hide-for-small-only"><tbody><tr>
            <td>
              <h1 id="page-title">
                <a href="/">AquaVolta</a>
              </h1>
            </td>
            <td class="text-right">
              <h3>

                <a
                  class="<%= dest === './' ? 'active' : '' %>"
                  href="/"
                >Home</a>
                <span>&nbsp;&nbsp;&nbsp;</span>

                <a
                  class="<%= dest === './about-us' ? 'active' : '' %>"
                  href="/about-us"
                >About Us</a>
                <span>&nbsp;&nbsp;&nbsp;</span>

                <a
                  class="<%= dest === './boardlight' ? 'active' : '' %>"
                  href="/boardlight"
                >Boardlight</a>

              </h3>
            </td>
          </tr></tbody></table>
          <div class="text-center show-for-small-only">
            <div>
              <h1 id="page-title">
                <a href="/">AquaVolta</a>
              </h1>
            </div>
            <br>
            <div>

              <h3>
                <a
                  class="<%= dest === './' ? 'active' : '' %>"
                  href="/"
                >Home</a>
                <span>&nbsp;|&nbsp;</span>

                <a
                  class="<%= dest === './about-us' ? 'active' : '' %>"
                  href="/about-us"
                >About Us</a>
                <span>&nbsp;|&nbsp;</span>

                <a
                  class="<%= dest === './boardlight' ? 'active' : '' %>"
                  href="/boardlight"
                >Boardlight</a>

              </h3>         
            </div>
          </div>

        </div>
        <br><br><br>
      </div>